@model DepartmentViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure to delete this department</h1>
<form asp-action="Delete">
    
    <partial name="PartialViews/DeleteDetailsDepartmentPartialView" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="index" class="btn btn-light">Cancel</a>
</form>

