@model LoginViewModel

@{
	ViewData["Title"] = "Login";
	Layout = "_AuthLayout";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form asp-action="Login" method="post">
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<input class="text mb-3" asp-for="Password" placeholder="Password" required="">
			 <div class="wthree-text" >
				<label class="anim ">
					<input type="checkbox" asp-for="RememberMe" required="">
					<span>Remember Me</span>
				</label>
				<div class="clear"></div>
			</div>  
			<input type="submit" value="SIGNIN">
		</form>
		<p>Don't have an Account? <a asp-action="Register"> Register Now!</a></p>
	</div>
</div>

@section ValidationScriptSection
{
	<partial name="_ValidationScriptsPartial" />
}
